%form{:method => "POST", :action => '/user'}
  %input{:type => "hidden", :name => "_method", :value => "PUT"}
  %input{:type => "submit", :value => "Create" }

%ul
  - @users.each do |user|
    %li
      %a{ :href => user.login_url }
        = user.id

      %form{:method => "POST", :action => '/user/'}
        %input{:type => "hidden", :name => "_method", :value => "delete"}
        %input{:type => "hidden", :name => "id", :value => "#{user.id}"}

        - if user.email
          %label Email:
          = user.email
        - if user.password
          %label | Password:
          = user.password

        %input{:type => "submit", :value => "DELETE"}
